html{
background: #eee;
}

/* For Header*/
.header{
  position: relative;
  z-index: 100;
  height: 80px;
  width: 100%;
  font-weight: bold;
  font-size: 13px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
}

.header .logo {
  display: inline-block;
  padding: 10px 0;
}

.header .title{
margin-bottom: 5px ;
display: inline-block;
margin: 0;
text-align: center !important;
color: #eeee;
font-size: 60px;
}

/* For Form Container */
.form_container {
    background-image: url('../img/background.jpg') !important;
}
.form_container2 {
    background-image: url('../img/kid-background.jpg') !important;
}

.layer {
    position: relative;
    background-color: #3c465a;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat !important;
}

.baseline_container {
    position: relative;
    min-height: 200px;
    height: 560px;
    width: 100% ;
    max-height: calc(100vh - 150px);
}

.form_wrapper {
  display: block ;
    padding: 0 0px 0 500px;
    height: 100%;
    width:  40% !important;
    background: rgba(0,0,10,0.7);
}

/* For form */

.form_next_tb{
  margin-left: 5px;
  width: 100% !important;
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button_icon{
background-image: url('../img/square-search.png');
width: 45px;
height: 45px;
background-size: cover;
border-radius:50%;
float:right;
margin-right: 10px;
}
/* For Response */

.response{
display:none;
float: left;
margin-left: 10px;
}

.panel_response:{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
  margin-bottom: 10px;
}

.values:{
  text-transform: uppercase;

}
